h1 {
 color: rgb(35, 73, 35);
 text-shadow: darkslategray;
 font-size: 75px;
 text-align: center;
}

body {
    background-color:gainsboro
}

.mainHeaderText {
    text-align: center;
    color:blanchedalmond;
    margin-top: 15vh;
    border-width: 3px;
    border-style:groove;
    border-color:blanchedalmond;
}

.middleText {
    text-align: center;
    color:blanchedalmond;
    margin-top: 15vh;
}

.TabBar {
    background-color: rgb(90, 94, 78);
    height: 80px;
    text-align: center;
    align-content: center;
    
}

.leftSpacer {
    flex: 1;
    background-color: rgb(72, 52, 107);
    border-top-left-radius: 20%;
}

.fireGif {
    margin-top: 60vh;
}
.rightSpacer {
    flex: 1;
    background-color: rgb(72, 52, 107);
    border-top-right-radius: 20%;
}

.text {
    color:antiquewhite
}
.pageContainer {
    display: flex;
}

.leftDiv {
    flex: 2;
}

.mainDiv {
    background-color: rgb(72, 52, 107);
    flex: 6;
    height: 90vh;
    margin: 0;
}

.rightDiv {
    flex: 2;
}