h1 {
 color: rgb(35, 73, 35);
 text-shadow: darkslategray;
 font-size: 75px;
 text-align: center;
}

body {
    background-color:rgb(37, 36, 37)
}

.mainHeaderText {
    text-align: center;
    color:blanchedalmond;
    margin-top: 5vh;
    border-width: 6px;
    border-style:groove;
    border-color:blanchedalmond;
}

.orbOuterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.orbContainer, .orbContainerL2, .orbContainerL3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style:groove;
    padding: 10px;
}

.orbContainer {
    border-color:rgb(182, 73, 145);
    border-width: 10px;
    border-style:ridge;
}

.orbContainerL2 {
    border-color:rgb(73, 62, 226);
    border-width: 14px;
    
}

.orbContainerL3 {
    border-color:rgb(238, 180, 93);
    border-width: 12px;
    border-style:double;
}

.middleText {
    text-align: center;
    color:blanchedalmond;
    margin-top: 5vh;
}

.linkStyling {
    text-decoration: none;
    background-color: #bb36f4;
    padding: 14px 25px;
    color:black
}

.TabBar {
    background-color: rgb(172, 178, 182);
    height: 80px;
    text-align: center;
    align-content: center;
    width: 50%;
    align-items: center;
    margin: auto;
    border-radius: 0%;
    
}

.leftSpacer {
    flex: 1;
    background-color: rgb(107, 89, 139);
    border-top-left-radius: 20%;
}

.fireGif {
    margin-top: 60vh;
}
.rightSpacer {
    flex: 1;
    background-color: rgb(107, 89, 139);
    border-top-right-radius: 20%;
}

.text {
    color:antiquewhite
}
.pageContainer {
    display: flex;
}

.leftDiv {
    flex: 2;
}

.mainDiv {
    background-color: rgb(107, 89, 139);
    flex: 6;
    height: 90vh;
    margin: 0;
    min-width: 40%;
}

.rightDiv {
    flex: 2;
}

.wizardBuns {
    max-height: 600px;
    max-width: 600px;
}